<%# app/views/comparisons/month.html.erb %>

<h1>Monthly Comparison</h1>
<h2>Store: <%= @store.Storename %></h2>

<%= form_with url: month_store_comparisons_path(@store), method: :get do |f| %>
  <%= f.month_field :month, value: Date.today.strftime("%Y-%m") %>
  <%= f.submit "Go" %>
<% end %>

<%= render "error_chart", chart_data: @chart_data, period_label: @period_label %>

<br>
<%= link_to "Back to Store", @store %>