<%# app/views/stores/show.html.erb %>

<p style="color: green"><%= notice %></p>

<%= render @store %>

<%= link_to 'Upload Tracker File', new_store_tracker_path(@store) %> |
<%= link_to 'Upload PDF Report', new_store_pdf_import_path(@store) %> |
<%= link_to 'PDF Imports', store_pdf_imports_path(@store) %> |
<%= link_to 'Comparison', store_comparisons_path(@store) %>

<div>
  <%= link_to "Edit this store", edit_store_path(@store) %> |
  <%= link_to "Back to stores", stores_path %>
  <%= button_to "Destroy this store", @store, method: :delete %>
</div>

<%= link_to "Tracker", store_trackers_path(@store) %>