<%# app/views/comparisons/week.html.erb %>

<h1>Weekly Comparison</h1>
<h2>Store: <%= @store.Storename %></h2>

<%= form_with url: week_store_comparisons_path(@store), method: :get do |f| %>
  <%= f.date_field :start_date, value: @period_label %>
  <%= f.submit "Go" %>
<% end %>

<%= render "error_chart", chart_data: @chart_data, period_label: @period_label %>

<br>
<%= link_to "Back to Store", @store %>