<div class="row"> 
  <div class="card col-2">
    <%= render @store %>

<%= link_to 'Upload Tracker File',
                new_store_tracker_path(@store) %>



<div>

<%= link_to 'Upload PDF Report', new_store_pdf_import_path(@store) %>
  <%= link_to "Edit this store", edit_store_path(@store) %> |
  <%= link_to "Back to stores", stores_path %>

  <%= button_to "Destroy this store", @store, method: :delete %>
</div>

  </div>

<div class="card col-2">

<%= link_to "Store Counter Errors", day_store_comparisons_path(@store) %>
</div>

<div class="card col-2">

<%= link_to "Counter Errors by Counter", counter_day_store_comparisons_path(@store) %>
</div>




</div>





<%= link_to "Tracker", store_trackers_path(@store) %>



 