<div class="row"> 
  <div class="card col-2">
    <%= render @store %>

<%= link_to 'Upload Tracker File',
                new_store_tracker_path(@store) %>

<div>
  <%= link_to "Edit this store", edit_store_path(@store) %> |
  <%= link_to "Back to stores", stores_path %>

  <%= button_to "Destroy this store", @store, method: :delete %>
</div>

  </div>

<div class="card col-6">
  
  <%= line_chart({ "2026-01-01" => 2, "2026-01-02" => 5, "2026-01-03" => 3 }) %>



</div>



</div>




<%= link_to "Tracker", store_trackers_path(@store) %>



