<h1>Yearly Comparison <%= @counter.user_id %> </h2>

<div class="row">

  <div class="card col-2">
    <%= form_with url: counter_year_path(@counter), method: :get do |f| %>
      <%= f.date_field :date, value: @date %>
      <%= f.submit "Go" %>
    <% end %>
  </div>

    <%= render "comparisons/counter_nav", store: @store, user_id: @user_id %>
</div>

<%= render "comparisons/error_chart", chart_data: @chart_data, period_label: @period_label, user_charts: @user_charts, loss_total: @loss_total %>