<p style="color: green"><%= notice %></p>

<%= render @counter %>

<%# app/views/comparisons/counter_day.html.erb %>

<h1><%= @counter.user_id %></h1>


  

  <%= render "comparisons/counter_nav", store: @store, user_id: @user_id %>

</div>


<%= render "comparisons/error_chart", chart_data: @chart_data, period_label: @period_label, user_charts: @user_charts, loss_total: @loss_total %>

<div>
  <%= link_to "Edit this counter", edit_counter_path(@counter) %> |
  <%= link_to "Back to counters", :back %>

  <%= button_to "Destroy this counter", @counter, method: :delete %>
</div>
