<h1><%= @counter.user_id %></h1>

<div class="row">
  <div class="card col-2">
    <%= form_with url: counter_year_path(@counter), method: :get do |f| %>
      <%= f.number_field :year, value: @year %>
      <%= f.submit "Go" %>
    <% end %>
  </div>
  <%= render "counters/nav" %>
</div>

<%= render "comparisons/error_chart", chart_data: @chart_data, period_label: @period_label, user_charts: @user_charts, loss_total: @loss_total %>